<div>

    <!-- The fileinput-button span is used to style the file input field as button -->
    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Выбрать файл...</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="files[]" multiple>
    </span>
    <br>
    <br>
    <!-- The global progress bar -->
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <!-- The container for the uploaded files -->
    <div id="files" class="files"></div>

</div>

<script>
/*jslint unparam: true */
/*global window, $ */
$(function () {
    'use strict';
    $('#fileupload').fileupload({
        url: '<?=$this->url->get(['for' => 'apiUploadImage']);?>',
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                if (typeof file.error != 'undefined') {
                    alert(file.error);
                } else {
                    var template = '' +
                        '<p>' +
                            '<div>' + file.name + '</div>' +
                            '<div class="imageStatus' + file.id + '">В обработке (примерное время ожидания: ' + file.calculatedTime + ')</div>' +
                        '</p>';
                    $('#files').append(template);

                    // Долбимся в API и узнаём статус обработки картинки
                    var timerId = setInterval(function () {
                        getStatus(file.id, timerId);
                    }, 1000);
                }

            });
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled')
        .bind('fileuploadfail', function (e, data) {
            alert('Ошибка ответа сервера');
        });
});

function getStatus(imageId, timerId) {
    var url = '<?=$this->url->get(array('for' => 'apiGetStatus'));?>';
    $.ajax({
        method: 'POST',
        url: url,
        data: {
            imageId: imageId
        },
        dataType: 'json'
    }).done(function(result) {
        if (result.success) {
            var selector = '.imageStatus' + imageId;
            $(selector).html('Картинка успешно обработана');
            $('<a>', { href: result.link, text: 'Ссылка на картинку'}).appendTo(selector);
            // Останавливаем опрос API
            clearInterval(timerId);
        }
    });
}
</script>
